body{
	background: #90EE90;
	text-transform:capitalize;
}

header{
	background-color: rgba(1,1,1,0.4);
	padding-top: 30px;
	margin-bottom: 20px;
}

header .content-top{
	width:100%;
	height: 60px;
	text-align:right;
}

header .fa-user-circle{	
	margin-right:  35px;
	cursor: pointer; 
}

header .welcome{
	margin-right:  35px;
	cursor: pointer; 
}

header .link a{
	margin: 10px 0px;
	padding:10px 20px;
	cursor: pointer;
	background-color: #90EE90;
	color: black;
	border: gray solid 1px;
	font-weight: bold;
	border-radius: 8px;
}



fieldset{
	border-radius: 8px;
}

.appointment-container {
	width: 35%;
	margin: 10px auto;
	min-width: 400px;
	border: gray 1px solid;
}

label.labelblock{
	display:block;
	position:relative;
	left:12px;
	top:0px;
	margin-top:10px;
	margin-bottom:10px;
}

label.labelblock input,
label.labelblock select{
	position:absolute;
	left:150px;
	border-radius: 8px;
}

label.labelblock select{
	text-transform:capitalize;
}

.submit,
.cancel{
	margin-right: 10px;
	margin-top: 10px;
	padding:10px 20px;
	float: right;
	cursor: pointer;
	background-color: #2E8B57;
	color: white;
	border: none;
	font-weight: bold;
	border-radius: 8px;
}

.tableContainer{
	width: 50%;
	height: 240px;
	margin: 10px auto;
	
}

.tableContainerScrollBar{
	width: 100%;
	height: 90%;
	margin: 10px auto;
	overflow-y: scroll;
	border-radius: 8px;
}

table{
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
    white-space: nowrap;
}

table td, th {
  border: 1px solid gray;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:  rgba(1,1,1,0.2);
}

.loginForm,
.librariesForm,
.libraryBooksForm,
.booksForm {
	visibility: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(1,1,1,0.7);
	left: 0;
	top: 0;
	color: white;
}

.loginForm form{
    width: 50%;
    height: 30%;
    padding : 10px;
  	background-color:  rgba(30,30,30,0.9);
  	transform: translate(-50%,-50%);
    transform: translate(50%,50%);
    min-width: 500px;
    min-height: 300px;
}

.loginForm form input{
	width: 400px;
	height: 30px;
	margin: 10px;
	padding: 5px;
	font: 400 13.3333px Arial;
}


.loginForm form button{
	display: block;
	width: 130px;
	height: 40px;
	margin: 10px;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	background-color: #90EE90;
	border: none;
	cursor: pointer;
	color: #2F4F4F;
	border-radius: 8px;
}

.loginForm form fieldset{
	border: none;
	padding: 10px;
}

.librariesForm form,
.booksForm form,
.libraryBooksForm form{
    width: 50%;
    height: 70%;
    padding : 10px;
  	background-color:  rgba(30,30,30,0.9);
  	transform: translate(-50%,-80%);
    transform: translate(50%,20%);
    min-width: 500px;
    min-height: 300px;
}


.librariesForm .tableContainer,
.booksForm .tableContainer,
.libraryBooksForm .tableContainer {
	width: 95%;
	height: 200px;
	margin: 10px auto;

}

/*close button*/
.fa-times{
	color: white;
	position: absolute;
	top: 50px;
	right: 30px;
	cursor: pointer;
}

.fa-book{
	cursor: pointer;
}

.fa-edit,
.fa-trash-alt {
		color: #2E8B90;
}


.messageContainer,
.signoutContainer,
.yesNoContainer {
	visibility: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	color: white;
}

.messageContainer div,
.signoutContainer div,
.yesNoContainer div{
	margin: 10% auto;
}
.messageFram,
.signoutFram{
	width: 30%;
    height: 15%;
    padding : 20px;
  	background-color:  rgba(30,30,30,0.9);
    border-radius: 8px;
    text-align: center;

   
}

.yesNoFram {
	width: 30%;
    height: 25%;
    padding : 20px;
  	background-color:  rgba(30,30,30,1);
    border-radius: 8px;
    text-align: center;

   
}

.messageFram span,
.signoutFram span,
.yesNoFram span {
	
	font-size: 18px;
	margin: auto;
	padding-top: 20px;
}

.messageFram button,
.signoutFram button{
	display: block;
	width: 20%;
	height: 25%;
	margin: 25px auto; 
	cursor: pointer;
	background-color: #2E8B57;
	color: white;
	border: none;
	font-weight: bold;
	border-radius: 8px;	
}

.yesNoFram  button{
	margin: 5px auto; 
	padding:10px 20px;
	cursor: pointer;
	background-color: #2E8B57;
	color: white;
	border: none;
	font-weight: bold;
	border-radius: 8px;
}